.carousel-item{
    height: 450px;
}
.navbar{
    background-color: rgb(0, 109, 15); height: 95px
}
.navbar-brand{
    font-weight: bolder; font-size: xx-large; 
}
.nav-link{font-size: x-large;
 
}
.collapse{
    background-color: bisque; text-align: center; margin-bottom: 44px; padding: 20px; margin-top: 48px;; width: 100vw
}



.sticky {
    position: sticky;
    top: 0;
    width: 100%;
   
  }
  h1{
      font-weight: bolder; padding: 20px; color: burlywood; font-size: xx-large;
  }
  .margin{
    margin: 0;
  }
  .WE{
    width: 500px;}
    #row{
        text-align: center; background-color: beige;
    }
    
    .col-sm{
        text-align: center; font-size: xx-large;
    }
   .mov{
       margin-right: 0px;
   }